@charset "utf-8";

@font-face {
  font-family: Endalmin;
  src: local('Endalmin'), url(../fonts/Endalmin.otf);
}

 @font-face {
  font-family:'Evander';
  src: 
    local('Evander-ExtraBold'),
    url(../fonts/Evander-ExtraBold.otf);
  font-weight: bold;
}

@font-face {
  font-family:'Evander';
  src: local('Evander-ExtraLight'),
  url(../fonts/Evander-ExtraLight.otf);
  font-weight: normal;
}

:root {
  --primary: #42A08D;
}

html {
    scroll-behavior: smooth;
    font-family: 'Evander', sans-serif;
    background-color: #FFF7F0;
}

body {
  overflow-x: hidden;
}

.logo {
    width: 200px;
    height: 150px;
}

.signature {
  font-size: 6rem;
  font-family: 'Endalmin';
  margin: -18px;
}

.image {
    width: 100%;
    height: 100%;
}

.illu {
    width: 35%;
}

.footer-background {
    background-image: url("../image/background_footer.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* #course {
  background-image: url("../image/background_angebot.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

}*/

.button {
    border-top-right-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;
}

/*text linke animation*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--primary);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFB465;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bg-orange {
  background-color: #DA7E1D;
}

.bg-orange-70 {
  background-color: #F1BC85;
  border-top-left-radius: 40px 40px;
  padding: 16px;
}

.bg-orange-40 {
  background-color: #F1BC8540;
  padding: 16px;
}

.bg-green-70 {
  background-color: #187865;
  padding: 16px;
}

.bg-green-40 {
  background-color: #18786520;
  border-bottom-right-radius: 40px 40px;
  padding: 16px;
}

.angebot {
  color: #000;
}